---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import UpdateCard from '../../components/UpdateCard.astro';

const updates = (await getCollection('updates'))
  .sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf());
---

<Layout title="Updates - Bhuvan" description="Quick updates, links, and thoughts from Bhuvan">
  <Header />
  
  <div class="list-page">
    <div class="container">
      <div class="list-header">
        <div class="list-title-row">
          <h1 class="list-title">Updates</h1>
          <a href="/rss.xml" class="rss-icon" title="Subscribe to RSS feed" target="_blank" rel="noopener noreferrer">
            <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor">
              <path d="M6.503 20.752c0 1.794-1.456 3.248-3.251 3.248-1.796 0-3.252-1.454-3.252-3.248 0-1.794 1.456-3.248 3.252-3.248 1.795 0 3.251 1.454 3.251 3.248zm-6.503-12.572v4.811c6.05.062 10.96 4.966 11.022 11.009h4.978c-.059-8.71-7.078-15.728-15.788-15.82zm0-3.368c10.58.046 19.152 8.594 19.183 19.188h4.817c-.03-13.231-10.755-23.954-24-24v4.812z"/>
            </svg>
          </a>
        </div>
        <p class="list-description">Quick thoughts, interesting links, and other stuff I'm sharing across the web.</p>
      </div>
      
      <div class="micro-posts">
        {updates.map((update) => (
          <UpdateCard
            title={update.data.title}
            content={update.body}
            publishDate={update.data.publishDate}
            slug={update.slug}
            link={update.data.link}
            linkTitle={update.data.linkTitle}
          />
        ))}
      </div>
    </div>
  </div>
  
  <Footer />
</Layout>